#datanodei Placed by confd. Do not hand edit.
network.host: 0

{{range ls "/self/service/metadata/elasticsearch/yml"}}
{{.}}: {{printf "/self/service/metadata/elasticsearch/yml/%s" . | getv}}
{{end}}

bootstrap.mlockall: true
discovery.zen.ping.multicast.enabled: false

#v1
#{{ls "/self/stack"}}
#{{ls "/self/stack/services"}}

discovery.zen.ping.unicast.hosts:
{{range getvs "/self/stack/services"}}
#  {{printf "/services/%s/containers" .}}
  {{range getvs (printf "/services/%s/containers" .)}}
    {{$containerKey := printf "/containers/%s" .}}
    # {{ $containerKey }}
    {{$label := (printf "%s/labels/elasticsearch.master" $containerKey | getv)}}
    # {{ $label }}
    {{if eq $label "true"}}
      - {{printf "%s/primary_ip" $containerKey | getv}}
    {{end}}
  {{end}}
{{end}}
