#datanodei Placed by confd. Do not hand edit.
network.host: 0

{{range ls "/self/service/metadata/elasticsearch/yml"}}
{{.}}: {{printf "/self/service/metadata/elasticsearch/yml/%s" . | getv}}
{{end}}

bootstrap.mlockall: true
discovery.zen.ping.multicast.enabled: false

discovery.zen.ping.unicast.hosts:
{{range getvs "/self/stack/services/*"}}
  {{range getvs (printf "/services/%s/containers/*" .)}}
    {{$containerKey := printf "/containers/%s" .}}
    {{if exists (printf "%s/labels/elasticsearch.master" $containerKey)}}
      # {{printf "%s/service_name" $containerKey | getv}}
      - {{printf "%s/primary_ip" $containerKey | getv}}
    {{end}}
  {{end}}
{{end}}
